<h1 align="center"><%= @category.name %></h1>
<ul>
<% @listings.each do |listing|%>
<li><a href="<%="/categories/#{@category.id}/listings/#{listing.id}"%>"> <%= listing.title %></a><br>
<%= listing.address %></li>
<% end %>


<p class="add-listing"><a href="<%= "/categories/#{@category.id}/listings/new" %>">post a new listing</a></p>