<h1>Dont forget to hide your API key</h1>
<head>
    <title>Geocoding service</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

</head>
  <body>
  <div class="listing-info">
  <%= @listing.title %><br>
  <%= @listing.address %><br>
  <%= @listing.website %><br>
  <%= @listing.phone %><br>
  </div>
  <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -95.712891, lng: 37.09024}
       
        });
        var geocoder = new google.maps.Geocoder();

          window.addEventListener('load', function(){
          geocodeAddress(geocoder, map);
        })
        }

      function geocodeAddress(geocoder, resultsMap) {

        var address = '<%= @listing.address %>'

        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['KEY']%>&callback=initMap">
    </script>
  </body>
