<div class="profile">
Profile
Name: <%= @user.name %>
email: <%= @user.email %>
</div>

<div class="user-listings">
<ul>
<% @user_listings.each do |listing| %>
<li><a href="<%="/categories/#{listing.category.id}/listings/#{listing.id}"%>"> <%= listing.title %></a>
<form action="<%="/categories/#{listing.category.id}/listings/#{listing.id}"%>" method="post">
    <input name="_method" type="hidden" value="delete" />
    <button type="submit">Delete</button>

</form>


<a href="<%="/categories/#{listing.category.id}/listings/#{listing.id}/edit"%>">Edit</a>

</form></li>
<% end %>
</div>
<p class="add-listing"><a href="<%= "/listings/new" %>">post a new listing</a></p>